#document
{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: auto;
    background-size: auto;
}
#maingame
{
    border: solid;
    border-width: 1px;
    border-color: black;
    background: white;
    width: calc(100% - 28px);
    height: calc(100% - 28px);
    position: absolute;
    padding: 5px;
    border-radius: 3px;
}

#p1name
{
    font-family: "Roboto Mono";
    position: absolute;
    left: 10px;
    top: 10px;
}

#p2name
{
    font-family: "Roboto Mono";
    position: absolute;
    right: 10px;
    top: 10px;
}

#coin
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    transition: left 1s, width .5s;
    transition-timing-function: ease-in-out;
}

#currentturn
{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

#buttons
{
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
}

#playerleftbackground
{
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: grey;
    opacity: .5;
    z-index: 10;
}

#playerleft
{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    background: white;
    transform: translate(-50%, -50%);
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 3px;
    z-index: 10;
    width: 400px;
    height: 130px;
    text-align: center;
}

#playerwon
{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    background: white;
    transform: translate(-50%, -50%);
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 3px;
    z-index: 10;
    width: 400px;
    height: 130px;
    text-align: center;
    font-family: "Roboto Mono";
}

#playerleftmessage
{
    font-family: "Roboto Mono";
    font-size: large;
}

#leavegame
{
    margin-top: 10px;
    width: 180px;
    height: 40px;
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 2px;
    background: white;
    -webkit-transition-duration: .5s;
}

#leavegame:hover
{
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 2px;
    background: lightgrey;
    -webkit-transition-duration: .5s;
}

#coinflip
{
    margin-top: 10px;
    width: 180px;
    height: 40px;
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 2px;
    background: white;
    -webkit-transition-duration: .5s;
}

#coinflip:hover
{
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 2px;
    background: lightgrey;
    -webkit-transition-duration: .5s;
}

#playagain
{
    margin-top: 10px;
    width: 180px;
    height: 40px;
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 2px;
    background: white;
    -webkit-transition-duration: .5s;
}

#playagain:hover
{
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 2px;
    background: lightgrey;
    -webkit-transition-duration: .5s;
}


#coinflip1
{
    margin-top: 10px;
    width: 180px;
    height: 40px;
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 2px;
    background: white;
    -webkit-transition-duration: .5s;
}

#coinflip1:hover
{
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 2px;
    background: lightgrey;
    -webkit-transition-duration: .5s;
}

#coinflip2
{
    margin-top: 10px;
    width: 180px;
    height: 40px;
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 2px;
    background: white;
    -webkit-transition-duration: .5s;
}

#coinflip2:hover
{
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 2px;
    background: lightgrey;
    -webkit-transition-duration: .5s;
}
