#background {
    background: linear-gradient(46deg, #4d80a3, #091b41);
    background-size: 400% 400%;

    -webkit-animation: background_scroll 59s ease infinite;
    -moz-animation: background_scroll 59s ease infinite;
    animation: background_scroll 59s ease infinite;
}

@-webkit-keyframes background_scroll {
    0%{background-position:20% 0%}
    50%{background-position:81% 100%}
    100%{background-position:20% 0%}
}
@-moz-keyframes background_scroll {
    0%{background-position:20% 0%}
    50%{background-position:81% 100%}
    100%{background-position:20% 0%}
}
@keyframes background_scroll {
    0%{background-position:20% 0%}
    50%{background-position:81% 100%}
    100%{background-position:20% 0%}
}


body
{
    background-color: #ffffff;
}

.container
{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 3px;
    margin: 0px;
    position: fixed;
    display: inline-block;
    text-align: center;
    background-color: white;
    padding: 10px;
}

.title
{
    font-family: Inconsolata;
}

button
{
    height: 36px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 3px;
    margin: 0px;
    font-family: Inconsolata;
}

input
{
    height: 30px;
    width: 340px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 3px;
    margin: 0px;
    padding-left: 10px;
    font-family: Inconsolata;
}